.cart-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  transition: all 1s ease-in-out;
  /* will-change: transform; */
}
.cart-container {
  position: relative;
  height: 100vh;
  width: 45%;
  background-color: white;
  float: right;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart-heading {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}
.cart-heading .heading {
  margin-left: 10px;
}
.cart-num-items {
  color: #e94822;
  margin-left: 10px;
}
.empty-cart {
  margin:40px;
  text-align:center;
}
.empty-cart h3 {
  font-weight: 600;
  font-size: 20px;
}
.cancel {
  cursor: pointer;
}
.product-container {
  margin-top: 15px;
  overflow: auto;
  max-height: 70vh;
  padding: 20px 10px;
}
.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  width: 100%;
  background-color: hsla(188, 44%, 82%, 0.4);
}
.product .cart-product-image {
  min-width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 15px;
  background-color: white;
}
.item-desc {
  width: 100%;
}
.item-desc .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  color: #324d67;
}
.item-desc .bottom {
  margin-top: 20px;
}
.flex h5 {
  font-size: 18px;
}
.flex h4 {
  font-size: 20px;
}
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.total h3 {
  font-size: 22px;
}
.remove-item {
  color: #e94822;
  font-size: 24px;
  cursor: pointer;
  background: transparent;
  border: none;
}
.cart-bottom {
  background-color: white;
  width: 100%;
  padding: 10px 20px;
}
.btn-container {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
}
.btn {
  text-align: center;
  width: 100%;
  max-width: 400px;
  padding: 10px 12px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  margin-top: 20px;
  text-transform: uppercase;
  background-color: #e94822;
  color: #fff;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.btn:hover {
  transform: scale(1.05,1.05);
}
.quantity-desc {
  border-radius: 15px;
  border: 1px solid #324d67;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quantity-desc span {
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
}
.quantity-desc .minus {
  color: #e94822;
}
.quantity-desc .num {
  font-size: 22px;
}
.quantity-desc .plus {
  color: rgb(49, 168, 49);
}

@media screen and (max-width:992px) {
  .cart-container {
    width: 50%;
  }
  .flex h5 {
    font-size: 16px;
  }
} 


@media screen and (max-width:768px) {
  .cart-container {
    width: 65%;
  }
  .product .cart-product-image {
    min-width: 135px;
    height: 135px;
  }
}

@media screen and (max-width:576px) {
  .cart-container {
    width: 75%;
  }
  .product .cart-product-image {
    min-width: 125px;
    height: 125px;
  }
  .item-desc .flex {
    flex-direction: column;
    gap: 10px;
  }
  .quantity-desc .num {
    font-size: 16px;
  }
  .flex h5 {
    font-size: 14px;
  }
  .quantity-desc {
    padding: 2px;
  }
  .product {
    gap: 10px;
    padding: 8px;
  }
  .item-desc {
    width: 90%;
  }
}

@media screen and (max-width:425px) {
  .cart-container {
    width: 85%;
  }
  .btn-container {
    width: 95%;
  }
  .product .cart-product-image {
    min-width: 110px;
    height: 110px;
  }
  .quantity-desc span {
    font-size: 14px;
  }
  .product {
    gap: 5px;
    padding: 5px;
  }
}
