/* GENERAL && RESET */
html,
body, * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
::-webkit-scrollbar {
  width: 0px;
}
a {
  text-decoration: none;
  color: inherit;
}

/* .max-qty { font-weight: 500; color: #f02d34; } */
/* .max-qty { font-weight: 500; color: #e94822; } */
