.product-detail-desc {
  display: flex;
  flex-direction: column;
}
.product-detail-desc h4 {
  margin-top: 15px;
}
.product-detail-desc > p {
  border-radius: 15px;
  margin-top: 10px;
}
.product-detail-desc .price {
  font-weight: 700 ;
  font-size: 26px;
  margin-top: 5px;
  color:#ff5a1e;
}
.product-detail-desc .oldPrice {
  margin-top: 15px;
  color: #919191;
  font-size: 16px;
  font-weight: 600;
  text-decoration: line-through;
}

/* MEDIA */
@media screen and (max-width:992px) {
  .product-detail-desc h1 {
    font-size: 28px;
  }
  .product-detail-desc .price {
    margin-top: 5px;
  }
}

@media screen and (max-width:768px) {
  .product-detail-desc h1 {
    font-size: 24px;
  }
  .product-detail-desc h4 {
    margin-top: 15px;
  }
  .product-detail-desc > p {
    border-radius: 15px;
    margin-top: 5px;
  }
  .product-detail-desc h3 {
    border-radius: 15px;
    margin-top: 5px;
  }
  .product-detail-desc .price {
    margin-top: 5px;
  }
}

