.container {
  background-color: rgb(255, 255, 255, 0.85);
  position: fixed;
  top: 0;
  height: 75px;
  width: 100%;
  margin: 0px 0px 12px 0px;
  padding: 16px 32px 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(226, 226, 226);
  box-shadow: 0 15px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  z-index: 1000;
}
.logo {
  color: gray;
  font-size: 22px;
  cursor: pointer;
}
.cart-icon {
  position: relative;
  color: gray;
  font-size: 32px;
  border: none;
  transition: transform .4s ease;
  background-color: transparent;
  cursor: pointer;
}
.cart-icon:hover {
  transform: scale(1.1,1.1);
}
.cart-item-qty {
  position: absolute;
  width: 21px;
  height: 21px;
  right: -8px;
  color: #eee;
  background-color: #ff5a1e;
  border-radius: 50%;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
}


